<!DOCTYPE html>
<html>

<head>
    <title>Cantinho Doce</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <div class="ladingpage-back">
        <div class="ladingpage-card">
            <img src="/images/logo_dna_antonia2.png" alt="logotipo">
        </div>
        <a href="/home" class="ladingpage-button">Bora entar&nbsp;<i class="fas fa-ice-cream" style='font-size:54px'></i></a>

    </div>

</body>

</html>