<!-- Modal Add -->
<div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class='fas fa-save' style='font-size:24px'></i> Novo Cadastro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/system" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Descrição</label>
                        <input type="text" name="descricao" class="form-control" id="formGroupExampleInput" placeholder="Digite Descrição do Produto">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Valor</label>
                        <input type="text" name="valor" class="form-control" id="formGroupExampleInput2" placeholder="Digite o Valor">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Categoria</label>
                        <select class="form-control" name="categoria">
                            <option>Escolha uma opção</option>
                            <option value="Doces">Doces</option>
                            <option value="Salagadinhos">Salgados</option>
                            <option value="Bebidas">Bebidas</option>
                            <option value="Sorvete/Geladinho">Sorvete/Geladinho</option>
                          </select>

                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Imagem</label>
                        <input type="file" name="image" class="form-control" id="formGroupExampleInput2" placeholder="Insira uma imagem">
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success"><i class='fas fa-save' style='font-size:24px'></i> Gravar</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal deletar -->
<!-- Modal Add -->
<div class="modal fade" id="atualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class='fas fa-sync-alt' style='font-size:24px'></i> Atualizar Cadastro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Descrição</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite Descrição do Produto">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Valor</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite o Valor">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Categoria</label>
                        <select class="form-control">
                            <option>Escolha uma opção</option>
                            <option>Doces</option>
                            <option>Salgados</option>
                            <option>Bebidas</option>
                            <option>Gelados</option>
                          </select>

                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Imagem</label>
                        <input type="file" class="form-control" id="formGroupExampleInput2" placeholder="Insira uma imagem">
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"><i class='fas fa-sync-alt' style='font-size:24px'></i> Atualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal deletar -->
<div class="modal fade" id="deletar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class='far fa-trash-alt' style='font-size:24px'></i> Deletar Cadastro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <h5>Tem Certeza que Gostaria de apagar?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger"> <i class='far fa-trash-alt'style='font-size:24px'></i> Deletar</button>
            </div>
        </div>
    </div>
</div>