<!-- Modal Add -->
<div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class='fas fa-save' style='font-size:24px'></i> Novo Cadastro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/system">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Descrição</label>
                        <input type="text" name="descricao" class="form-control" id="formGroupExampleInput" placeholder="Digite Descrição do Produto">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Valor</label>
                        <input type="text" name="valor" class="form-control" id="formGroupExampleInput2" placeholder="Digite o Valor">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Categoria</label>
                        <select class="form-control" name="categoria">
                            <option>Escolha uma opção</option>
                            <option value="Doces">Doces</option>
                            <option value="Salgadinhos">Salgadinhos</option>
                            <option value="Bebidas">Bebidas</option>
                            <option value="Gelados">Gelados</option>
                          </select>

                    </div>
                    <!-- <div class="form-group">
                        <label for="formGroupExampleInput2">Imagem</label>
                        <input type="file" name="image" class="form-control" id="formGroupExampleInput2" placeholder="Insira uma imagem">
                    </div> -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success"><i class='fas fa-save' style='font-size:24px'></i> Gravar</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Atualizar -->
<div class="modal fade" id="atualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class='fas fa-sync-alt' style='font-size:24px'></i> Atualizar Cadastro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form id="form-update" method="POST" action="/system?_method=PUT">
                    <input type="hidden" id="id-input-update" name="id">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Descrição</label>
                        <input type="text" name="descricao" class="form-control" id="descricao-input-update" placeholder="Digite Descrição do Produto">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Valor</label>
                        <input type="text" name="valor" class="form-control" id="valor-input-update" placeholder="Digite o Valor">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Categoria</label>
                        <select class="form-control" id="categoria-input-update" name="categoria">
                            <option>Escolha uma opção</option>
                            <option value="Doces">Doces</option>
                            <option value="Salgadinhos">Salgados</option>
                            <option value="Bebidas">Bebidas</option>
                            <option value="Gelados">Gelados</option>
                          </select>
                    </div>
                    <!-- <div class="form-group">
                        <label for="formGroupExampleInput2">Imagem</label>
                        <input type="file" name="image" class="form-control" id="image-input-update" placeholder="Insira uma imagem">
                    </div> -->
                    <!-- <input type="hidden" name="imageProduto" id="image-produto"> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="btn-update" class="btn btn-primary"><i class='fas fa-sync-alt' style='font-size:24px'></i> Atualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal deletar -->
<div class="modal fade" id="deletar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class='far fa-trash-alt' style='font-size:24px'></i> Deletar Cadastro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <h5>Tem Certeza que Gostaria de apagar?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form id="form-delete" method="POST" action="/system?_method=DELETE">
                    <input type="hidden" id="id-input-delete" name="id">
                    <button type="submit" class="btn btn-danger"> <i class='far fa-trash-alt'style='font-size:24px'></i> Deletar</button>

                </form>
            </div>
        </div>
    </div>
</div>